#canvas {
    height: 200px;
    width: 500px;
    border: 2px solid coral;
}

.body-segment {
    height: 80px;
    width: 80px;
    border-radius: 150px;
    display: inline-block;
    margin-top: 50px;
    margin-left: -20px;
}

.apple {
    background: red;
}

.kiwi {
    background: lime;
}

.banana {
    background: yellow;
}

.cherry {
    background: darkred;
}

.dance-segment {
    margin-bottom: 25px;
}