#canvas {
    height: 200px;
    width: 600px;
    border: 1px solid coral;
}

.apple {
    background: red;
}

.kiwi {
    background: lime;
}

.banana {
    background: yellow;
}

.cherry {
    background: darkred;
}

.body-segment {
    border-radius: 75px;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: -7px;
    display: inline-block;

}

.dance-segment {
    margin-bottom: 20px;
}